.advantages {
    background: url("../img/advantages/advantages__bg-1.png") 0 0 / cover no-repeat;
    position: relative;
    @media (max-width: 992px) {
        background: url("../img/advantages/advantages__bg-1.png") center / cover no-repeat;
    }
    @media (max-width: 450px) {
        margin-top: -20%;
        background: url("../img/advantages/adventager__bg-2.png") center / cover no-repeat;
    }
}
.asvsntages__container {
    padding: 128px 10px 133px 10px;
    @media (max-width: 1200px) {
        padding: 111px 10px 126px 10px;
    }
    @media (max-width: 992px) {
        padding: 135px 10px 134px 10px;
    }
    @media (max-width: 768px) {
        padding: 110px 10px 134px 10px;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 576px) {
        padding: 95px 10px 175px 10px;
    }
    @media (max-width: 450px) {
        padding: 65px 10px 98px 10px;
    }
}
.advantages__title {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
        font-size: 60px;
    }
    @media (max-width: 768px) {
        font-size: 40px;
        align-self: center;
    }
    @media (max-width: 576px) {
        font-size: 59px;
    }
    @media (max-width: 450px) {
        font-size: 40px;
    }
}
.title_yellow {
    color: #ffc72b;
}
.advantages__item-box {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    @media (max-width: 768px) {
        gap: 20px;
    }
    @media (max-width: 576px) {
        gap: 24px;
    }
}
.advantages__item {
    flex: 0 1 48%;
    border-radius: 26px;
    background: #fff;
    position: relative;
    padding: 47px 47px;
    overflow: hidden;
    min-width: 400px;
    min-height: 230px;
    @media (max-width: 875px) {
        flex: 1 1 100%;
    }
    @media (max-width: 768px) {
        padding: 25px 47px;
        min-height: 160px;
    }
    @media (max-width: 576px) {
        min-height: 226px;
    }
    @media (max-width: 534px) {
        min-width: auto;
    }
    @media (max-width: 450px) {
        padding: 9px 11px;
        min-height: 145px;
    }
}
.advantages__item-img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: 0;
    right: -205px;
    @media (max-width: 875px) {
        right: -36%;
    }
}
.advantages__item-title {
    color: #1b37a3;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 800;
    line-height: 127%; /* 33.02px */
    text-transform: uppercase;
    margin-bottom: 10px;
    @media (max-width: 768px) {
        font-size: 20px;
    }
    @media (max-width: 400px) {
        font-size: 16px;
    }
}
.advantages__item-text {
    max-width: 256px;
    color: #383536;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 18px;
    font-weight: 500;
    line-height: 127%; /* 22.86px */
    @media (max-width: 768px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}
.advantages__item-text_bold {
    font-weight: 700;
}
.advantages__item-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 373px;
    & > li {
        list-style: outside;
        margin-left: 22px;
    }
}
