.footer {
    background: url("../img/footer/footer__right-bg.png") right / contain no-repeat, #1b37a3;
    @media (max-width: 1200px) {
        background: url("../img/footer/footer__right-bg.png") 142% 0 / contain no-repeat, #1b37a3;
    }
    @media (max-width: 912px) {
        background: url("../img/footer/footer__right-bg.png") right / 0% no-repeat, #1b37a3;
    }
}
.footer__container {
    position: relative;
    padding: 50px 10px 47px 6px;
    display: flex;
    gap: 120px;
    @media (max-width: 1200px) {
        padding: 50px 10px 47px 75px;
    }
    @media (max-width: 992px) {
        padding: 56px 10px 47px 10px;
        gap: 90px;
    }
    @media (max-width: 768px) {
        padding: 56px 10px 125px 41px;
    }
    @media (max-width: 628px) {
        flex-direction: column;
        align-items: center;
        padding: 56px 10px 200px 10px;
    }
    @media (max-width: 576px) {
        padding: 82px 10px 200px 10px;
    }
}
.footer_blok {
    display: flex;
    flex-direction: column;
    @media (max-width: 628px) {
        align-items: center;
    }
}
.footer__wrap-logo {
    margin: 10px 0 55px 0;
    @media (max-width: 768px) {
        margin: 10px 0 24px 0;
    }
    @media (max-width: 576px) {
        margin: 10px 0 31px 0;
    }
}
.footer_logo {
}
.header__title {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    @media (max-width: 992px) {
        font-size: 24px;
    }
    @media (max-width: 576px) {
        font-size: 17px;
    }
}
.footer__social-box {
    margin-top: 15px;
    display: flex;
    gap: 14px;
}
.footer__social-item {
}
.footer__btn {
    color: var(--Black, #191919);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    background: var(--White, #fff);
    padding: 8px 36px;
    align-self: flex-start;
    margin-bottom: 15px;
    @media (max-width: 628px) {
        align-self: center;
    }
    @media (max-width: 576px) {
        padding: 8px 115px;
    }
}
.footer__link {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 18px;
    font-weight: 500;
}
.footer_blok_sec {
    gap: 15px;
}
.footer_blok_th {
    position: relative;
    z-index: 10;
    margin-left: 14%;
    gap: 25px;
    @media (max-width: 1200px) {
        margin-left: 2%;
        gap: 29px;
    }
    @media (max-width: 768px) {
        justify-content: flex-end;
        margin-left: 8%;
    }
    @media (max-width: 628px) {
        margin-left: 0;
    }
    @media (max-width: 576px) {
        display: none;
    }
}
.footer__link_smol {
    font-size: 16px;
}
.footer__blok-wrap {
    display: flex;
    gap: 120px;
    @media (max-width: 992px) {
        gap: 90px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 48px;
    }
    @media (max-width: 576px) {
        gap: 31px;
    }
}
.footer__link_ab-left {
    z-index: 10;
    @media (max-width: 768px) {
        position: absolute;
        bottom: 5%;
        left: 12%;
    }
    @media (max-width: 740px) {
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
    }
    @media (max-width: 676px) {
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
    }
    @media (max-width: 576px) {
        bottom: 25%;
        font-size: 15px;
    }
}
.footer__link_ab-right {
    z-index: 10;
    @media (max-width: 768px) {
        position: absolute;
        bottom: 5%;
        left: 56%;
    }
    @media (max-width: 740px) {
        bottom: 13%;
        left: 50%;
        transform: translateX(-50%);
    }
    @media (max-width: 576px) {
        bottom: 16%;
        font-size: 15px;
    }
}
.footer__block_bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 317px;
    @media (max-width: 1200px) {
        width: 282px;
    }
    @media (max-width: 1090px) {
        width: 206px;
    }
    @media (max-width: 912px) {
        display: none;
    }
}
