.footer {
    background: #1b37a3;
}
.footer__container {
    position: relative;
    padding: 50px 10px 210px 79px;
    display: flex;
    gap: 120px;
    @media (max-width: 992px) {
        padding: 56px 10px 210px 10px;
        gap: 90px;
    }
    @media (max-width: 768px) {
        padding: 56px 10px 210px 41px;
    }
    @media (max-width: 628px) {
        flex-direction: column;
        align-items: center;
        padding: 56px 10px 210px 10px;
    }
}
.footer_blok {
    display: flex;
    flex-direction: column;
    @media (max-width: 628px) {
        align-items: center;
    }
}
.footer__wrap-logo {
    margin: 10px 0 55px 0;
    @media (max-width: 768px) {
        margin: 10px 0 24px 0;
    }
}
.footer_logo {
}
.header__title {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    @media (max-width: 992px) {
        font-size: 24px;
    }
}
.footer__social-box {
    margin-top: 15px;
    display: flex;
    gap: 14px;
}
.footer__social-item {
}
.footer__btn {
    color: var(--Black, #191919);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    background: var(--White, #fff);
    padding: 8px 36px;
    align-self: flex-start;
    margin-bottom: 15px;
    @media (max-width: 628px) {
        align-self: center;
    }
}
.footer__link {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 18px;
    font-weight: 500;
}
.footer_blok_sec {
    gap: 15px;
}
.footer_blok_th {
    margin-left: 14%;
    gap: 25px;
    @media (max-width: 1200px) {
        margin-left: 2%;
        gap: 29px;
    }
    @media (max-width: 768px) {
        justify-content: flex-end;
        margin-left: 8%;
    }
    @media (max-width: 628px) {
        margin-left: 0;
    }
}
.footer__link_smol {
    font-size: 16px;
}
.footer__blok-wrap {
    display: flex;
    gap: 120px;
    @media (max-width: 992px) {
        gap: 90px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 48px;
    }
}
.footer__link_ab-left {
    @media (max-width: 768px) {
        position: absolute;
        bottom: 18%;
        left: 12%;
        background-color: #22378a;
    }
    @media (max-width: 628px) {
        bottom: 18%;
        left: 33%;
    }
    @media (max-width: 430px) {
        position: absolute;
        bottom: 18%;
        left: 0;
        background-color: #22378a;
    }
}
.footer__link_ab-right {
    @media (max-width: 768px) {
        position: absolute;
        bottom: 18%;
        left: 56%;
        background-color: #22378a;
    }
    @media (max-width: 628px) {
        bottom: 13%;
        left: 31%;
    }
    @media (max-width: 430px) {
        position: absolute;
        bottom: 13%;
        left: 0;
        background-color: #22378a;
    }
}
